.navbar-brand {
  font-size: 1.675rem;
  line-height: 1.5;
  font-weight: 500;
  /* padding-right: 5rem; */
}

.nav-links {
  font-size: 1.3rem;
}

.brand {
  letter-spacing: 0.15rem;
}

/* .navbar {
  margin-bottom: 1rem;
} */
